* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  opacity: 0.9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: seashell;
}

header {
  background-color: #333;
  width: 100%;
  height: 69px;
  display: flex;
  position: fixed;
  justify-content: center;
  border-bottom: 1px solid seashell;
  z-index: 100;
}

#header {
  width: 1200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header img {
  height: 50px;
}

#menu-toggle {
  display: none;
}

#mobile-menu-icon {
  display: none;
  font-size: 40px;
  cursor: pointer;
}

#mobile-menu-icon::before {
  content: '\2630';
}

#menu-toggle:checked + #mobile-menu-icon::before {
  content: '\2716';
}

#header #desktop-nav {
  margin-left: auto;
}

#desktop-nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

#header ul li {
  list-style: none;
  text-decoration: underline;
}

#desktop-nav ul li a {
  color: seashell;
  padding: 10px;
  font-size: 22px;
}

#mobile-nav {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 999;
}

#mobile-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#mobile-nav ul li {
  margin: 10px 0;
}

#mobile-nav ul li a {
  text-decoration: none;
  color: seashell;
  font-size: 22px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

#hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

#hero img {
  width: 100%;
  margin-top: 69px;
  object-fit: cover;
}

.headings {
  background-color: #333;
  position: absolute;
  text-align: center;
  padding: 20px;
  width: 100%;
}

h2 {
  font-size: 3vw;
}

h4 {
  font-size: 1.2vw;
}

/* Section Tea */

#tea {
  padding: 0 50px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.tea {
  text-align: center;
  margin-bottom: 20px;
}

.tea h2 {
  margin-bottom: 20px;
}

.tea-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33.33px;
  padding: 20px;
}

.tea-block {
  flex: 1 1 200px;
  max-width: 300px;
  text-align: center;
}

.tea-block img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Section Locations */

#location {
  margin-bottom: 20px;
}

#location h2 {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.location-blocks {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.location-block {
  min-width: 300px;
  background-color: #333;
  text-align: center;
  padding: 2vw 0;
}

.location-block h3 {
  margin-bottom: 1vw;
  font-size: 20px;
}

.location-block p {
  margin-bottom: 1vw;
  font-size: 20px;
}

/* Section The The Cozy */

#cozy {
  height: 200px;
  text-align: center;
}

#cozy h2 {
  margin-bottom: 20px;
}

#cozy h5 {
  margin-bottom: 20px;
  font-size: 1.2vw;
}

#cozy p {
  margin-bottom: 0;
  font-size: 20px;
}

/* Footer */

footer {
  display: flex;
  background-color: #333;
  color: seashell;
  font-size: 22px;
  padding: 20px;
  bottom: 0;
  width: 100%;
  justify-content: center;
  border-top: 1px solid seashell;
}

footer p {
  width: 1200px;
}

/* Mobile Styles */

@media screen and (max-width: 1025px) {
  #desktop-nav {
    display: none;
  }

  #mobile-menu-icon {
    display: block;
  }

  #menu-toggle:checked + #mobile-menu-icon + #desktop-nav + #mobile-nav {
    display: flex;
    /* height: 100vh; */
    margin-top: -10px;
  }

  h2 {
    font-size: 7vw;
  }

  h4 {
    font-size: 4vw;
  }

  #cozy h5 {
    font-size: 4vw;
  }

  #tea {
    padding: 0 0;
    width: 100%;
  }

  .tea-blocks {
    padding: 0;
  }

  .tea-block {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .tea-block img {
    width: 400px;
    height: 267px;
    margin-bottom: 10px;
  }

  #cozy {
    margin-bottom: 0;
  }

  footer p {
    text-align: center;
    font-size: 3vw;
  }
}
